.slider {
    width: 200px;
    height: 30px;
}

.slider .slider-line {
    height: 1px;
    border-bottom: 1px solid #FFF;
    width: 120px;
    margin-top: 6px;
}
.slider .slider-line .slider-button {
    background-image: url('slider.png');
    width: 36px;
    height: 36px;
    position: relative;
    top: -18px;
    left: 0px;
    cursor: hand;
}

.phone-container {
    border: 1px solid #000;
    height: 325px;
    width: 1000px;
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
}

.phone {
    padding:5px;
    display: inline-block;
    height: 300px;
    width: 200px;
    background-size: cover;
    border: 1px solid #FFF;
}

body {
    background-color: #000;
    color: #FFF;
}

.dot-container {
    margin-bottom: 30px;
}

.dot {
    border-radius: 50%;
    background-color: #AAA;
    height: 10px;
    width: 10px;
    display: inline-block;
    margin: 0 3px;
}

.dot.inFocus {
    background-color: #FFF;
}

/*.phone01 {*/
    /*background-image: url("beauties/01.jpg");*/
/*}*/
/*.phone02 {*/
    /*background-image: url("beauties/02.jpg");*/
/*}*/
/*.phone03 {*/
    /*background-image: url("beauties/03.jpg");*/
/*}*/
/*.phone04 {*/
    /*background-image: url("beauties/04.jpg");*/
/*}*/
/*.phone05 {*/
    /*background-image: url("beauties/05.jpg");*/
/*}*/
/*.phone06 {*/
    /*background-image: url("beauties/06.jpg");*/
/*}*/
/*.phone07 {*/
    /*background-image: url("beauties/07.jpg");*/
/*}*/
/*.phone08 {*/
    /*background-image: url("beauties/08.jpg");*/
/*}*/
/*.phone09 {*/
    /*background-image: url("beauties/09.jpg");*/
/*}*/
/*.phone10 {*/
    /*background-image: url("beauties/10.jpg");*/
/*}*/